
* {
    font-family: Georgia, serif;
}

#video-screen {
    display: none;
}


.topbar {
    text-align: center;
}

.topbar button {
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    border: 8px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.topbar button:hover {
    background-color: blue;
    color: white;
}

#title {
    text-align: center;
    font-size: 4em;
    margin: .5em;
}


#video-player {
    text-align: center;
    border: 10px black;
}
